*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: medium none;
  border-spacing: 0;
  text-decoration: none;
  text-indent: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  font-family: var(--font-noto-sans);
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
}

a {
  color: inherit;
}

[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
}

input {
  font-family: var(--font-noto-sans);
  outline: none;
  border: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
button {
  color: inherit;
  background-color: #0000;
  font-style: inherit;
  font-weight: inherit;
  font-family: var(--font-noto-sans);
  border-width: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
